<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/photogallery">Photo Gallery</a>
        </nav>
    </div>
        <div class="about-section">
        <h1>About Sudha Murthy</h1>
          </div>
          <div >
            <p class="aboutparadiv">
            Sudha Murty (born 19 August 1951) is an Indian educator, author and philanthropist 
            who is chairperson of the Infosys Foundation.</br>
            She is married to the co-founder of Infosys, N. R. Narayana Murthy. Murty was awarded the Padma Shri, 
            the fourth highest civilian award in India,</br> 
            for social work by the Government of India in 2006.
            Sudha Murty began her professional career in computer science and engineering.</br>
            She is the chairperson of the Infosys Foundation and a member of the public health care initiatives of the Gates Foundation.</br>
            She has founded several orphanages, participated in rural development efforts, supported the movement </br>
            to provide all Karnataka government schools with computer and library facilities,</br> 
            and established Murty Classical Library of India at Harvard University.
            </p>
          </div>
</body>
</html>