<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Photo Gallery</a>
        </nav>
    </div>
  <div class="about-section">
    <h1>Home</h1>
    <p>Welcome to the Express basic website</p>
  </div>
</body>
</html>