<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Work</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/photogallery">Photo Gallery</a>
        </nav>
    </div>
        <div class="about-section">
        <h1>Work done by Sudha Murthy</h1>
          </div>
          <div >
            <p class="aboutparadiv">
                She has built 2300 houses in flood-affected areas through the foundation. 
                She also covers public hygiene, healthcare, education, art and culture and poverty alleviation. 
                She has built 7000 libraries in schools and 16,000 toilets. “Vision without action is merely a dream.
            </p>
          </div>
</body>
</html>